<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="shrink-to-fit=no,width=device-width,height=device-height,initial-scale=1,user-scalable=1">
        <meta name="description" content="KinkyLauras kinky life :3">
        <title>{{ title }}</title>
        <link rel='stylesheet' type='text/css' media='screen' href="{{ '/style.css' | url }}"/>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
